<!DOCTYPE html>
<html lang="en">
<head>
<% include partials/head %>
</head>
<body>
<h1>Rendering results from DB</h1>
    <div id="driverRes"><ul><%= planetList %></ul></div>
    <a><h4><%= planetList %></h4></a>
    

</body>

</html>