body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#driverRes{
  border-style: dotted;
  border-color: coral;
  color: rgb(0, 255, 42);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-stretch: narrower;
}
